* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20%;
  position: fixed;
  position: relative;
  border-bottom: 1px solid gray;
}

.header-input-mother {
  border: 1px solid #4c9a67;
  height: 40px;
  padding: 7px 55px 8px 16px;
  position: relative;
}
.header-input {
  border: none;
}
.logo {
  text-align: center;
  width: 200px;
}

.header-input {
  position: relative;
}
.input-glass {
  padding: 4px;
  color: white;
  background-color: #4c9a67;
  border: none;
  font-size: 15px;
  top: 0;
  right: 0;
  position: absolute;
}
.header-up {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.header-down {
  padding-top: 20px;
  display: flex;
  justify-content: right;
  gap: 10px;
  position: absolute;
  width: 25%;
  top: 70px;
  right: 0px;
}

.header-down img {
  width: 30px;
}

.brand,
.banchan,
.cart {
  width: 50%;
  gap: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  padding: 30px 0 0 30px;
  gap: 130px;
  width: 100%;
}

.nav-name {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.header-nav-menu {
  width: 33%;
  float: left;
}

.hader-nav-menu-zip {
  padding-top: 20px;
}

.hader-nav-menu-list {
  font-size: 16px;
  float: left;
  width: 50%;
  display: block;
  padding: 10px 0;
}

.mid-img {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-img-1 {
  padding-bottom: 50px;
}

.mid-img-2 {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.mid-img-2 img {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
}

.main1 {
  height: 35%;
}

.main1-mid {
  gap: 115px;
  display: flex;
  position: relative;
}

.main1-title {
  display: flex;
  height: 33%;
  margin-bottom: 60px;
}
.main1-name {
  display: flex;
  align-items: center;
  gap: 1000px;
}

.main1-name-title {
  display: flex;
  justify-content: center;
  font-size: 55px;
}

.main1-side {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.main1-name-arrow {
  padding-left: 15px;
}

.main1-mid-arrow-left {
  position: absolute;
  left: -60px;
  top: 130px;
}

.main1-mid-arrow-right {
  position: absolute;
  right: -60px;
  top: 130px;
}

.main1-name-arrow,
.main1-side {
  font-size: 30px;
}

.main-img-scr {
  margin-bottom: 15px;
  width: 280px;
  height: 280px;
}

.main-img {
  position: relative;
}

.main-cart {
  background-color: #737270;
  width: 36px;
  position: absolute;
  bottom: 30px;
  right: 15px;
  z-index: 2;
}

.main1-mid-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-gap {
  padding-bottom: 15px;
}

.main-tag,
.main-mid-text {
  color: gray;
}
.new,
.main-price {
  color: red;
}

.main-price {
  font-size: 20px;
  font-weight: 700;
}

.main-title {
  font-weight: 800;
  font-size: 20px;
}

.main-down {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 25px;
}

.main-down-text-img {
  width: 100%;
}

.main-down-text {
  width: 25%;
}
.time {
  width: 50%;
}
